* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --heading-color: #212832;
    --text-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    overflow: hidden;
}

.btn {
    --height: 58px;
    --width: 149px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--width);
    height: var(--height);
    line-height: var(--height);
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: var(--heading-color);
    transition: background-color 0.25s, opacity 0.25s;
    /* transition: ; */
}

.btn:hover {
    background: var(--primary-color);
    opacity: 0.9;
    cursor: pointer;
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.btn--primary {
    background: var(--primary-color) !important;
    /* border: var(--primary-color) !important; */
}

.section-label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 12px;
    line-height: 1.75;
}

.section-label::before {
    content: "";
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: var(--text-color);
}

.section-heading {
    width: 470px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    width: 470px;
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-8px);
    }
}

@keyframes moveOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(8px);
    }
}
/* Header */
.header.fixed {
    background: #fff;
    position: sticky;
    top: -32px;
    z-index: 99;
    padding-bottom: 10px;
}

.header {
    padding-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    margin-left: calc(70px - 24px);
    margin-right: 395px;
}

.navbar__link {
    position: relative;
    color: var(--text-color);
    padding: 8px 24px;
    line-height: 1.75;
    transition: text-shadow 0.25s;
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    bottom: 5px;
    height: 1px;
    width: 47px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.header-action__link {
    padding: 8px 28px;
    font-weight: 600;
    line-height: 1.75;
    color: var(--heading-color);
}

.header-action__btn {
    --height: 52px;

    min-width: 113px;
}

.header-action__link:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    margin-top: 66px;
}

.hero__inner {
    display: flex;
    column-gap: 160px;
}

.hero__heading {
    width: 500px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading b {
    color: var(--primary-color);
}

.hero__form {
    position: relative;
    margin-top: 40px;
}

.hero__input {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    padding: 23px;
}

.hero__input::placeholder {
    color: var(--text-color);
    line-height: 1.75;
}

.hero__btn {
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
}

.hero__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    position: relative;
}

.phone {
    position: relative;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.phone::before {
    content: "";
    position: absolute;
    top: -12px;
    right: calc(76px - 12px);
    width: 144px;
    height: 36px;
    border-radius: 0 0 18px 18px;
    background: #3c2f60;
}

.phone__inner {
    padding: 40px 11px;
}

.card {
    position: relative;
    padding: 16px;
    border-radius: 20px;
    background: linear-gradient(76deg, rgb(134, 121, 228) 11.52%, rgb(114, 100, 214) 70.78%);
    overflow: hidden;
    color: #fff;
    line-height: normal;
}

.card::before {
    content: url(../icons/card-decor-01.svg);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.card::after {
    content: url(../icons/card-decor-02.svg);
    position: absolute;
    bottom: -3px;
    right: 0;
    opacity: 0.6;
}

.card__top {
    display: flex;
    justify-content: space-between;
}

.card__top,
.card__body {
    position: relative;
    z-index: 1;
}

.card__top-label {
    color: #fff;
    font-size: 1.4rem;
    line-height: normal;
}

.card__top-price {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.card__top-circle {
    --circle-width: 40px;
    --circle-size: 24px;
    position: relative;
    width: var(--circle-width);
    height: var(--circle-size);
}

.card__top-circle::before,
.card__top-circle::after {
    position: absolute;
    content: "";
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
}

.card__top-circle::before {
    background: #fe6565;
    top: 0;
    left: 0;
}

.card__top-circle::after {
    background: #feef65;
    top: 0;
    right: 0;
}

.card__body {
    margin-top: 32px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px 12px;
}

.card__body-label {
    color: #fff;
    font-size: 1rem;
    line-height: normal;
}

.card__body-value {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.phone__body {
    margin-top: 24px;
}

.phone__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone__heading {
    color: #31456a;
    font-weight: 600;
    line-height: normal;
}

.phone__list {
    margin-top: 33px;
}

.phone__item {
    margin-top: 28px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.phone__item-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #edf7fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone__item:nth-child(2) .phone__item-icon {
    background: #fbefef;
}

.phone__item:nth-child(3) .phone__item-icon {
    background: #ecf5f4;
}

.phone__item:nth-child(4) .phone__item-icon {
    background: #f1effb;
}

.phone__item-body {
    flex-grow: 1;
}

.phone__row.top {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone__row.bottom {
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1;
}

.phone-decor {
    position: absolute;
    display: flex;
    align-items: center;
}

.phone-decor-1 {
    top: 109px;
    left: -100px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    animation: 1s linear 3.8s infinite alternate none running moveOut;
}

.phone-decor-1__num,
.phone-decor-1__desc {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.phone-decor-1__num {
    margin-left: 19px;
    color: #4ab5e3;
    font-weight: 400;
}

.phone-decor-2 {
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    justify-content: center;
    top: 127px;
    right: -172px;
    flex-direction: column;
    animation: 1s linear 3.8s infinite alternate none running move;
}

.phone-decor-2__desc,
.phone-decor-2__num {
    color: #fff;
    text-align: center;
}

.phone-decor-2__num {
    font-size: 44px;
    font-weight: 600;
}

.phone-decor-3 {
    bottom: 61px;
    right: -100px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    column-gap: 11px;
    animation: 1s linear 3.8s infinite alternate none running move;
}

.phone-decor-3__num {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone-decor-3__desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    opacity: 0.6;
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.work__img-wrap {
    position: relative;
    width: 456px;
    height: 619px;
    display: flex;
    justify-content: center;
}

.work__img-wrap::after {
    position: absolute;
    bottom: 0;
    content: url(../img/work-02.svg);
}

.work__img {
    bottom: 4px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.work__decor,
.work__img {
    position: absolute;
    z-index: 1;
}

.work__decor {
    position: absolute;
}

.work__decor-up {
    top: 72px;
    right: 55px;
}

.work__decor-down {
    bottom: 96px;
    left: 337px;
    display: flex;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.work__icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__decor-icon {
    padding: 7px 5px 6.5px;
    border-radius: 20px;
    background: #fff;
}

.work__icon-heading {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work__icon-desc {
    color: var(--text-color);
    font-family: Inter;
    font-size: 12px;
    line-height: normal;
}

.work__list {
    margin-top: 70px;
}

.work__item {
    margin-top: 30px;
}

.work__item-heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46;
}

.work__item-desc {
    margin-top: 16px;
    line-height: 1.75;
}

/* Product */
.product {
    margin-top: 160px;
}

.product__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.section__list {
    margin-top: 28px;
}

.section__item {
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.section__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
}

.section__btn {
    margin-top: 38px;
}

.product__media {
    position: relative;
}
.product__card {
    padding: 38px;
}

.product__card::before {
    content: url(../icons/card-decor-product-01.svg);
    opacity: 1;
}

.product__card::after {
    content: url(../icons/card-decor-product-02.svg);
    opacity: 0.8;
}

.product-card__body {
    gap: 4px 26px;
    margin-top: 98px;
    width: fit-content;
}

.card__top--product {
    column-gap: 160px;
}

.card__top-label--product {
    font-size: 2.4rem;
}

.card__top-price--product {
    margin-top: 10px;
    display: inline-block;
    font-size: 3.2rem;
}

.card__top-circle--product {
    --circle-width: 80px;
    --circle-size: 48px;
}

.card__body-label--product {
    font-size: 2rem;
}

.card__body-value--product {
    font-size: 2.2rem;
}

.card__decor-1 {
    width: 276px;
    margin-top: 0;
    position: absolute;
    z-index: 3;
    top: -48px;
    left: 294px;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.card__decor-2 {
    position: absolute;
    width: 120px;
    bottom: -55px;
    left: 450px;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.product-decor__icon {
    padding: 8px;
    border-radius: 8px;
    background: #fff;
}

.product-decor__desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
}

.product-decor__num {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* Features */
.features {
    margin-top: 160px;
}

.features__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.features__media {
    position: relative;
}

.features__img-wrap {
    position: relative;
    width: 413px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.features__img-wrap::after {
    content: url(../img/features-02.svg);
    position: absolute;
    bottom: 0;
}

.features__img {
    position: absolute;
    bottom: 3px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.features-decor__inner {
    position: absolute;
    z-index: 1;
    bottom: 57px;
    left: 234px;
    padding: 28px;
    background: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
}

.features-decor__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.features-decor__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 18px;
}

.features-decor__wrap-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.features-decor__wrap-item:last-child {
    background: #f9ea63;
}

.features-sub-decor {
    position: absolute;
    top: -35px;
    left: 217px;
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #7264d6;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Comment */
.comment {
    margin-top: 160px;
}

.app__top,
.comment__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment__body {
    margin-top: 70px;
}

.comment__list {
    display: flex;
}

.comment__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment__chat-box {
    position: relative;
    width: 570px;
    padding: 42px 28px;
    background: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    filter: drop-shadow(rgb(168, 169, 171) 0px 0px 1px);
    transition: filter 0.8s, border-color 0.8s;
}

.comment__chat-box::after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: -119px;
    border-width: 60px 40px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
}

.comment__chat-box:hover {
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
    border-color: transparent;
}

.comment__desc {
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
}

.comment__author {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author__img-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.comment__item--2 .author__img-wrap {
    background: #439f90;
}
.comment__item--3 .author__img-wrap {
    background: pink;
}
.comment__item--4 .author__img-wrap {
    background: var(--primary-color);
}

.author__img {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.author__img-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.author__img-title {
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}

.swiper-pagination {
    position: relative;
    margin-top: 60px;
}

.swiper-pagination-bullet {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.swiper-pagination-bullet-active {
    background-color: #7264d6;
    border-color: #7264d6;
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.blog__item {
    padding: 28px;
    display: flex;
    align-items: center;
    column-gap: 22px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: box-shadow 0.5s, border-color 0.5s;
}

.blog__item:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.blog__img:hover  {
    scale: 1.02;
}

.blog__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    transition: scale 0.5s;
}

.blog__item-time {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog__item-heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog__item-heading:hover {
    text-decoration: underline;
}

.blog__item-more {
    color: #696d76;
    line-height: 1.63;
}

.blog__item-more:hover {
    color: var(--primary-color);
}

/* App */
.app {
    margin-top: 160px;
}

.app__inner {
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: var(--primary-color);
}

.app__top p,
.app__top h2 {
    color: #fff;
}

.app__top p::before {
    background: #fff;
}

.app__body {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.app__item {
    width: 182px;
    height: 64px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: opacity 0.25s;
}

.app__item:hover {
    opacity: 0.9;
}

.app__decor {
    position: absolute;
}

.app__decor-1 {
    top: 49px;
    left: 112px;
}

.app__decor-2 {
    bottom: 49px;
    left: 166px;
}

.app__decor-3 {
    top: 49px;
    right: 112px;
}

.app__decor-4 {
    bottom: 49px;
    right: 166px;
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer__inner {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 163px;
}

.footer__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__heading ~ .footer__heading {
    margin-top: 48px;
}

.footer__list {
    margin-top: 24px;
}

.footer__desc,
.footer__link {
    margin-top: 10px;
    color: #6a6e78;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.67;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__form {
    margin-top: 24px;
}

.footer__input {
    padding: 12px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer__input::placeholder {
    color: #8e919a;
    line-height: 1.75;
}

.footer__btn {
    --height: 52px;
    --width: 113px;

    margin-left: 20px;
    color: #fff;
    background: var(--primary-color);
    border: none;
}

.footer__row {
    display: flex;
    column-gap: 100px;
}

.footer__row .footer__link {
    text-decoration: underline;
}

.footer__bottom {
    margin-top: 28px;
    background: var(--primary-color);
}

.footer__copyright {
    padding: 28px 0;
    color: #fff;
    text-align: center;
    line-height: 1.75;
}
